$docs: rgb(34, 153, 81);
$admin: rgb(0,0,0);
$personLookup: rgb(125, 212, 209);
$softwareSupport: rgb(233, 105, 30);
$dashboardUpdates: rgb(164, 106, 206);
$settings: rgb(51, 51, 153);
$white: rgb(255,255,255);
$print: rgb(0,0,0);
$nav-toggle-duration: 500ms;